body {
	display: flex;
	justify-content: center;
}

ul {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	list-style-type: none;
	padding: 0;
	width: 600px;
	border: 1px solid #7CA0FC;
	background: #7CA0FC;
}

li {
	display: flex;
	align-items: center;
}

a {
	color: white;
	border: 1px solid #7B7EFC;
	width: 90px;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

a:hover {
	color: #7CA0FC;
	background: #ffffff;
}