<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Группировка ячеек HTML таблиц</title>
</head>
<body>
    <div>
        <h2>Таблица 1</h2>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="2">Ячейка 1</td>
                <td>Ячейка 3</td>
            </tr>
            <tr>
                <td rowspan="2">Ячейка 4</td>
                <td>Ячейка 5</td>
                <td>Ячейка 6</td>
            </tr>
            <tr>
                <td>Ячейка 8</td>
                <td>Ячейка 9</td>
            </tr>
        </table>

        <h2>Таблица 2</h2>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="3">Ячейка 1</td>
            </tr>
            <tr>
                <td>Ячейка 4</td>
                <td rowspan="2">Ячейка 5</td>
                <td>Ячейка 6</td>
            </tr>
            <tr>
                <td>Ячейка 8</td>
                <td>Ячейка 9</td>
            </tr>
        </table>
        <h2>Таблица 3</h2>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="3">Ячейка 1</td>
                <td>Ячейка 2</td>
                <td rowspan="3">Ячейка 3</td>
            </tr>
            <tr>
                <td>Ячейка 5</td>
            </tr>
            <tr>
                <td>Ячейка 8</td>
            </tr>
        </table>
        <h2>Таблица 4</h2>
        <table border="1" cellpadding="0" cellspacing="0" width="400">
            <tr align="center">
                <th rowspan="2">номер</th>
                <th colspan="2">теги</th>
            </tr>
            <tr align="center">
                <th>тег</th>
                <th>значение</th>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>p</td>
                <td rowspan="4">для текста</td>
            </tr>
            <tr align="center">
                <td>2</td>
                <td>a</td>
            </tr>
            <tr align="center">
                <td>3</td>
                <td>b</td>
            </tr>
            <tr align="center">
                <td>4</td>
                <td>i</td>
            </tr>
            <tr align="center">
                <td>5</td>
                <td>table</td>
                <td>таблица</td>
            </tr>
            <tr align="center">
                <td>6</td>
                <td>tr</td>
                <td>ряд таблицы</td>
            </tr>
            <tr align="center">
                <td>7</td>
                <td>td</td>
                <td rowspan="2">ячейки таблицы</td>
            </tr>
            <tr align="center">
                <td>8</td>
                <td>th</td>
            </tr>
        </table>
    </div>
</body>
</html>