<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Layout 06</title>
</head>
<body>
    <header>
        <a href="#">down the stream</a>
        <p>
            template designed by webtemplateocean.com
        </p>
    </header>
    <main class="main">
        <div class="content">
            <nav>
                <ul>
                    <li><a class="active" href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">GALLERY</a></li>
                    <li><a href="#">HELP</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
            <div class="image">
                <img src="./images/image.jpg" alt="" width="100%">
            </div>
            <div class="main-content-wrapper">
                <div class="left-content">
                    <div class="post">
                        <a href="#" class="post-name">terms of use</a>
                        <div class="post-info">
                            <p>Posted in <a href="#" class="link">Class apent</a> | Sep 20, 2019 | <a href="#"
                                                                                                         class="link">4 comments</a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.<a class="link">Creative Commons Attribution</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime doloremque accusantium eligendi et adipisci omnis quod ipsa, eum fugit tempore.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis nihil molestiae maxime dolor at, distinctio tempora recusandae non vel nemo numquam similique fugiat harum neque autem cupiditate accusamus laboriosam perspiciatis. Officiis consequuntur sunt rerum nostrum odit, id consectetur, ratione.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, explicabo? <a href="#" class="link">PublicDomainPictures.net</a>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempore, facilis aliquid reiciendis voluptatum possimus ea mollitia facere magnam quasi perspiciatis quas, eveniet iste dolores tempora culpa inventore placeat. Sequi, totam doloremque porro odit! Illo ratione consectetur aliquam dolorem esse!... <a href="#" class="link">more</a>
                            </p>
                        </div>
                    </div>
                    <div class="post">
                        <a href="#" class="post-name">lorem ipsum dolor sit amet</a>
                        <div class="post-info">
                            <p>Posted in <a href="#" class="link">Lorem ipsum</a> | Sep 19, 2019 | <a href="#" class="link">2 comments</a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec dui quis urna sollicitudin sodales. Fusce laoreet, ligula et rhoncus volutpat, felis magna varius tortor, ac molestie diam lorem in lectus. Aliquam venenatis mollis est, a porttitor ipsum interdum nec. Vestibulum sed risus ac nulla viverra pharetra.
                            </p>
                            <p>
                                Quisque congue lacus sed odio fermentum tincidunt. Proin vitae nulla velit. Cras consectetur commodo scelerisque. Curabitur leo nisl, blandit at tempus et, interdum at risus. Sed dui augue, pellentesque ac pulvinar id, malesuada eget diam. Integer elementum sem eget tortor faucibus id pellentesque lorem dignissim... <a href="#" class="link">more</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="right-content">
                    <!-- #1 side bar block-->
                    <div class="side-bar-block">
                        <div class="side-bar-header">
                            <span>Saepe repellendus</span>
                        </div>
                        <div class="side-bar-content">
                            <ul>
                                <li><a href="#">Lorem ipsum dolor.</a></li>
                                <li><a href="#">Saepe repellendus, veniam!</a></li>
                                <li><a href="#">Repellendus laborum, sequi.</a></li>
                                <li><a href="#">Inventore laudantium, eos!</a></li>
                                <li><a href="#">Voluptate, ea, quaerat.</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- #2 side bar block-->
                    <div class="side-bar-block">
                        <div class="side-bar-header">
                            <span>Integer rhoncus</span>
                        </div>
                        <div class="side-bar-content">
                            <span>Mauris sollicitudin tincidunt magna vitae semper. Curabitur ut pharetra quam. Integer rhoncus convallis urna vitae mattis. Sed pharetra massa ac metus fermentum et iaculis enim accumsan.</span>
                        </div>
                    </div>
                    <!-- #3 side bar block-->
                    <div class="side-bar-block">
                        <div class="side-bar-header">
                            <span>Mauris sagittis</span>
                        </div>
                        <div class="side-bar-content">
                            <ul>
                                <li><a href="#">Suspendisse faucibus purus</a></li>
                                <li><a href="#">Tincidunt nec accumsan</a></li>
                                <li><a href="#">Fusce laoreet, ligula et rhoncus</a></li>
                                <li><a href="#">Adipiscing gravida pulvinar eget</a></li>
                                <li><a href="#">Cras consectetur commodo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2012, designed by <a href="#" class="link">WebTemplateOcean.com</a></p>
            </div>
        </div>
    </main>
</body>
</html>