<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Layout 01</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <img src="./images/logo1.jpeg" alt="">
            </div>
            <div class="site">www.site.com</div>
            <nav>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </nav>
        </header>
        <div class="left">left</div>
        <div class="right">right</div>
        <footer>www.site.com - продажа всего самого лучшего!</footer>
    </div>
</body>
</html>