<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Что такое CMS</title>
</head>
<body>
    <div>
        <h3>Что такое CMS</h3>
        <p>
            <b class="first">CMS</b> - «система управления контентом»
            (<b>движок</b>) - написанная PHP-программистами основа для сайта, с помощью которой
            вы сможете управлять сайтом (добавлять контент, менять пункты меню и т.п.) не
            зная HTML и CSS.
        </p>
        <p>
            <span class="first">Однако</span> для того чтобы сделать сайт с помощью
            <b>CMS</b> <i>потребуются услуги</i> и программиста, и дизайнера, и верстальщика.
            И капиталовложения.
        </p>
        <h4>Какие бывают cms</h4>
        <p>
            <span class="first">Бывают</span> различные системы управления контентом: для интернет-магазинов, для
            блогов, для форумов и т.д.
        </p>
        <h4>Примеры cms</h4>
        <p>
            <i class="first">Примеры</i><i>популярных CMS:</i> Joomla, WordPress (для блогов), PhpBB
            (для форумов).
        </p>
        <a href="page_2.html">Ссылка на вторую страницу</a>
    </div>
</body>
</html>