<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
    <h4>MENU_1</h4>
    <div class="menu_1">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как добраться</a></li>
        </ul>
    </div>
    <h4>MENU_2</h4>
    <div class="menu_2">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как добраться</a></li>
        </ul>
    </div>
    <h4>MENU_3</h4>
    <div class="menu_3">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как добраться</a></li>
        </ul>
    </div>
    <h4>MENU_4</h4>
    <div class="menu_4">
        <ul>
            <li><a href="#">Главная<i class="fa fa-plane"></i></a></li>
            <li><a class="active" href="#">Новости<i class="fa fa-plane"></i></a></li>
            <li><a href="#">Контакты<i class="fa fa-plane"></i></a></li>
            <li><a href="#">О компании<i class="fa fa-plane"></i></a></li>
            <li><a href="#">Как добраться<i class="fa fa-plane"></i></a></li>
        </ul>
    </div>
    <h4>MENU_5</h4>
    <div class="menu_5">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как добраться</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <h4>MENU_6</h4>
    <div class="menu_6">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a class="active" href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как добраться</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <h4>MENU_7</h4>
    <div class="menu_7">
        <ul>
            <li><a href="#"><i class="fa fa-globe"></i><br>авиабилеты</a></li>
            <li><a href="#"><i class="fa fa-plane"></i><br>чартеры</a></li>
            <li><a href="#"><i class="fa fa-subway"></i><br>ж/д билеты</a></li>
            <li><a href="#"><i class="fa fa-hotel"></i><br>гостиницы</a></li>
            <li><a href="#"><i class="fa fa-location-arrow"></i><br>туризм</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <h4>MENU_8</h4>
    <div class="menu_8">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">photos</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</body>
</html>