body {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    width: 900px;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    background-color: #5e5ef5;
    border: 1px solid #3d3df5;
}

li {
    display: flex;
    list-style-type: none;
}

a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2196f3;
    background-color: white;
}