body {
	display: flex;
	justify-content: center;
}

.head {
	display: flex;
	width: 600px;
	height: 600px;
	background-color: #6DF48D;
	border-radius: 50%;
}

.square {
	width: 100%;
	height: 100%;
	position: relative;
}

.eyes {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25%;
	justify-content: space-around;
	margin-top: 15%;
}

.eye {
	width: 25%;
	position: relative;
	background: white;
	border-radius: 50%;
}

.nouse {
	width: 20%;
	height: 20%;
	background-color: #fff;
	position: relative;
	margin-left: 40%;
}

.mouth {
	width: 50%;
	height: 5%;
	background-color: #fff;
	position: relative;
	margin-top: 10%;
	margin-left: 25%;
}