<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Layout 05</title>
</head>
<body>
    <div class="main-wrapper">
        <header>
            <span class="info-about-site">Любые виды ремонтных работ</span>
            <span>Выезд специалиста, замер и смета работ бесплатно</span>
            <span>Бесплатный дизайн проект</span>
            <span>Гарантия 3 года</span>
        </header>
        <div class="wrapper">
            <div class="services">
                <h2>Наши услуги</h2>
                <ol>
                    <li><span>Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper
                        pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt.</span></li>
                    <li><span>Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio
                                  pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit
                        dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris
                        ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.</span></li>
                    <li><span>Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at
                                 ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper
                        malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare
                        tincidunt nisi id cursus.</span></li>
                    <li><span>Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec
                              tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium
                        in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae
                        consectetur elit pellentesque.</span></li>
                </ol>
            </div>

            <div class="contacts">
                <h2>Наши контакты</h2>
                <span>Телефоны: +375 29 817 68 92 МТС, +375 31 335 29 38 Velcom</span>
            </div>

            <div class="about">
                <h2>Наша компания</h2>
                <p>
                    Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum.
                    Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae
                    tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio
                    pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui
                    accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare,
                    faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
                </p>
                <p>
                    Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula
                    venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna
                    tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc
                    finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor
                    posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget,
                    pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
                </p>
            </div>
            <div class="clients-wrapper">
                <h2>Наши клиенты</h2>
                <div class="clients">
                    <img src="./images/1.jpg" alt="">
                    <img src="./images/2.jpg" alt="">
                    <img src="./images/3.jpg" alt="">
                    <img src="./images/4.jpg" alt="">
                    <img src="./images/5.jpg" alt="">
                    <img src="./images/6.jpg" alt="">
                    <img src="./images/7.jpg" alt="">
                    <img src="./images/8.jpg" alt="">
                </div>
            </div>
        </div>

        <footer>
            <span>Строительная компания "Рога и копыта" © 2015. Все права более чем защищены.</span>
        </footer>

    </div>
</body>
</html>