<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Таблицы</title>
</head>
<body>
    <table border="1" cellspacing="0" cellpadding="0">
        <!-- Это будет первый ряд таблицы: -->
        <tr align="center">
            <th width="100">номер</th>
            <th width="50">тег</th>
            <th width="300">значение</th>
        </tr>
        <!-- Это будет второй ряд таблицы: -->
        <tr>
            <td>1</td>
            <td>p</td>
            <td>абзац</td>
        </tr>
        <!-- Это будет третий ряд таблицы: -->
        <tr>
            <td>2</td>
            <td>a</td>
            <td>ссылка</td>
        </tr>
        <tr>
            <td>3</td>
            <td>b</td>
            <td>жирный текст</td>
        </tr>
        <tr>
            <td>4</td>
            <td>i</td>
            <td>курсив</td>
        </tr>
        <tr>
            <td>5</td>
            <td>table</td>
            <td>таблица</td>
        </tr>
        <tr>
            <td>6</td>
            <td>tr</td>
            <td>ряд таблицы</td>
        </tr>
        <tr>
            <td>7</td>
            <td>td</td>
            <td>ячейка таблицы</td>
        </tr>
        <tr>
            <td>8</td>
            <td>th</td>
            <td>заголовок таблицы</td>
        </tr>
    </table>
</body>
</html>